.DS_Store
*.pyc
*.egg-info
*.swp
*.swo
.vscode
__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
node_modules/
.sass-cache/
*.css.map
.idea/
*.sublime-workspace
sites/**/logs/*
sites/**/private/backups/*
sites/**/private/files/*
sites/**/public/files/*
