include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include imprest_management *.css
recursive-include imprest_management *.csv
recursive-include imprest_management *.html
recursive-include imprest_management *.ico
recursive-include imprest_management *.js
recursive-include imprest_management *.json
recursive-include imprest_management *.md
recursive-include imprest_management *.png
recursive-include imprest_management *.py
recursive-include imprest_management *.svg
recursive-include imprest_management *.txt
recursive-exclude imprest_management *.pyc
